.listOfEpisodes {
  display: flex;
  border: 1px solid gray;
  max-width: 100rem;
  flex-wrap: wrap;
  margin-top: 30rem;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
}
.outerEpisodeCircle {
  display: flex;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid gray;
  border-radius: 50%;
  align-content: center;
  width: 3rem;
  height: 3rem;

  & .episodeCircle {
    position: absolute;
    padding: 1rem;
    background-color: #e94f37;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    width: 50%;
    height: 50%;
    align-items: center;
  }
}

.episodeNumLabel {
  font-size: 1.4rem;
  padding: 1rem;
}

.episodeNumber:hover {
    font-weight: bold;
}

.episodeNumber:active {
    font-weight: bold;
}

.tippyToolTip {
    background: white;
    color: black;
    border: 2px solid #DCDCDC;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
  .listOfEpisodes {
    max-width: 90%;
  }
}
