@media screen and (max-width: 600px) {
    .homeHeader {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }