.homeSideBar {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  background: #DCDCDC;
  max-width: 20rem;
  height: 80%;
  justify-content: center;
  align-content: center;

  & .sidebarText {
    justify-content: center;
    margin: 0.2rem;
    font-size: 2.5rem;
  }

  & .orangeBar {
    display: flex;
    justify-content: center;
    background: #d3d3d3;
    background-color: #e94f37;
    border-radius: 20px;
    height: 25vh;
    width: 1.5rem;
    color: orange;
    margin-top: 4.5rem;
    margin-right: 1.5rem;
  }
}

.sidebarCircle {
  display: flex;
  padding: 10px;
  margin: 20px;
  background-color: #e94f37;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .homeSideBar {
    width: 30%;
    display: none;
  }
}
