.selectedShow {
  display: flex;
  flex-direction: column;
  margin: 3rem 0.5rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;

  & .selectedShowName {
    font-weight: bold;
    font-size: 1.8rem;
  }

  & .selectedShowSummary {
    padding: 0.5rem;
    font-size: 1.6rem;
  }
}

.seasonsText {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.seasonSelectMenu {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.3rem;
  padding-right: 4rem;
}
.seasonOption {
  padding: 1rem;
}

.seasonOption1 {
  padding: 1rem;
}

.seasonOption:hover {
  cursor: pointer;
  background-color: #dcdcdc;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .selectedShow {
    width: 90%;
  }
}
